.header {
  margin-bottom: 10px;
}

.separator {
  border-top: 2px solid #ccc;
  margin: 10px 0;
}

.app {
  font-family: Arial, sans-serif;
  text-align: center;
  padding: 20px;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width:100%;
  box-sizing: border-box;
}

.chat-container {
  width: 100%; 
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex-grow: 1;
  overflow-y: auto;
  padding: 10px;
  border: 1px solid #ffffff;
  border-radius: 10px;
  box-sizing: border-box;
}

.message {
  display: inline-block;
  padding: 10px 20px;
  border-radius: 20px;
  max-width: 75%;
  word-wrap: break-word;
  box-sizing: border-box;
}

.message.bot {
  align-self: flex-start;
  background-color: #f1f0f0;
  color: #333;
}

.message.user {
  align-self: flex-end;
  background-color: #503CC8;
  color: #fff;
}

h1 {
  margin-bottom: 20px;
}

p {
  margin: 0;
}

p.loading {
  font-style: italic;
}

p.listening{
  font-style: italic;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  margin: 20px 0;
}

.button {
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  background-color: #503CC8;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

.button:hover {
  background-color: #513cc8aa;
}

.button:active {
  background-color: #513cc8aa;
}



@media (max-width: 600px) {
  .app {
    padding: 10px;
  }

  .chat-container {
    padding: 10px;
    border: none;
    border-radius: 0;
    max-width: 100%;
  }

  .message {
    padding: 10px;
    max-width: 100%;
  }

  .button-container {
    margin: 10px 0;
  }
}
